body {
    padding: 0px;
    margin: 0px;
    background-color: White;
}

head {}

header {
    overflow: hidden;
}

.content {
    overflow: hidden;
    clear: left;
}

.left_box {
    float: left;
    width: 50%;
    height: 700px;
    background-image: url(sato.png);
    background-position: center;
}

.right_box {
    float: left;
    width: 50%;
}

.right_box h1 {
    text-align: center;
    margin-top: 300px;
}

.right_box p {
    text-align: center;
    font-size: 15px;

}


.right_box2 {
    float: right;
    width: 50%;
    height: 500px;
}

.left_box2 h1 {
    text-align: center;
    margin-top: 25px;
    color: White;
}

.left_box2 p {
    text-align: center;
    font-size: 30px;
    color: white;
}

.left_box2 {
    float: left;
    width: 50%;
    height: 500px;
    background-color: #1c1c1c;
}

.left_box3 {
    float: left;
    width: 50%;
    height: 500px;
    object-fit: cover;
}

.right_box3 h1 {
    text-align: center;
    margin-top: 10px;
    color: #FF4000;
}

.right_box3 p {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #4B8A08;
}

.right_box3 {
    float: right;
    width: 50%;
    height: 500px;
    background-color: #A9E2F3;
}

/*.left_box4 {
    background-color: pink
}

.left_box4 h1 {
    text-align: center;
    margin-top: 400px;
    color: green;
    background-color: pink
}

.left_box4 p {
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    color: springgreen;
}

.right_box4 {
    float: right;
    width: 50%;
    height: 86px;
}
*/
.right_box4 {
    float: right;
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.left_box4 h1 {
    text-align: center;
    margin-top: 160px;
    color: blue;
}

.left_box4 p {
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: #5a00b4;
}

.left_box4 {
    float: left;
    width: 50%;
    height: 600px;
    background-color: springgreen;
}

/*ココから右*/

.box img {
    text-align: right;
    -webkit-transition: all 2s;
    -webkit-transform: translate(100px, 0);
    opacity: 0;
}

.box img.move {
    -webkit-transform: translate(0, 0);
    opacity: 1;
}


.box iframe {
    text-align: right;
    -webkit-transition: all 2s;
    -webkit-transform: translate(100px, 0);
    opacity: 0;
}

.box iframe.move {
    -webkit-transform: translate(0, 0);
    opacity: 1;
}

.img_3{
    object-fit: cover;
}

.img_4{
    object-fit: cover;
}



